-global $use_ssl;
:js
  url_helper.init({
    current_url: '<?=j($__click['current_url'])?>',
    home_url: '<?=j(home_url())?>',
    root_vpath: '<?=j(ROOT_VPATH)?>',
    http_host: '<?=j($_SERVER['HTTP_HOST'])?>',
    session_id: '<?=count($_SESSION['__click']['sessions'])>1 ? j($_SESSION['__click']['current_session_id']) : 'null' ?>',
    use_ssl: <?=$use_ssl ? 'true' : 'false' ?>
  });
  
  
